backports.tarfile==1.2.0
email-validator==2.2.0
fastapi==0.115.6
fastapi-cli==0.0.7
flask==3.0.3
h2==4.1.0
httptools==0.6.4
jaraco.collections==5.1.0
logfire==3.3.0
nltk==3.9.1
peewee==3.17.8
pip-chill==1.0.3
platformdirs==4.2.2
python-dotenv==1.0.1
python-multipart==0.0.20
qdrant-client==1.13.2
sentence-transformers==3.4.0
sentencepiece==0.2.0
tomli==2.0.1
torchvision==0.21.0+cpu
watchfiles==1.0.4
websockets==14.1